$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.header {
    margin-bottom: 10px;
}

.talk-desc {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    .talk-desc-title {
        
    }
    .talk-desc-date {
        color: grey;
    }
}

//default size for mobile.
.talk-pic {
    width: 38.2%;
    display: inline-block;
}

.list-group-item {
    display: inline-block !important;
    border: none !important;
    width: 100%;
}

#main-wrapper {
    position: relative;
}

//
//  VIDEO page
//

.close-video {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index:2;
}

#video-wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.video-desc {
    padding: 10px;
    .title {
        font-family: arial,sans-serif;
        font-size: 22px;
        letter-spacing: -0.03em;
    }
    .published {
        border-bottom: 1px black solid;
        margin-bottom: 20px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Responsive: */
@media screen and (max-width: 400px) {
    body {
        font-size: 13px;
    }
}

@media screen and (min-width: 400px) {
    .talk-pic {
        width: 100%;
        display: block;
    }
    .talk-desc {
        display: block;
        width: 100%;
        background-color: black;
        color: white;
        padding: 10px;
        .talk-desc-date {
            color: grey;
        }
    }
}

@media screen and (min-width: 540px) {
    .header {
        margin-bottom: 20px;
    }
    .container {
        max-width: 960px;
    }
    .talk-desc {
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .list-group-item {
        width: 50%;
        vertical-align: middle;
    }
}
