<div class="header">
  <img src="images/ted.png" class="img-responsive"/>
</div>

<div id="main-wrapper">
  <div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="talk in feed" ui-sref="home.video({ talkId:talk.ind })">
        <div class="talk-pic">
          <img ng-src="{{talk.mediaGroups[0].contents[0].thumbnails[0].url}}" class="img-responsive"/>
        </div>
        <div class="talk-desc">
          {{talk.title}}
        </div>
      </li>
    </ul>
  </div>

  <div ui-view>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
